[submodule "vim/.vim/pack/plugins/opt/fzf"]
	path = vim/.vim/pack/plugins/opt/fzf
	url = git@github.com:junegunn/fzf
[submodule "vim/.vim/pack/plugins/opt/fzf.vim"]
	path = vim/.vim/pack/plugins/opt/fzf.vim
	url = git@github.com:junegunn/fzf.vim
[submodule "vim/.vim/pack/plugins/opt/vim-commentary"]
	path = vim/.vim/pack/plugins/opt/vim-commentary
	url = git@github.com:tpope/vim-commentary
[submodule "vim/.vim/pack/plugins/opt/vim-surround"]
	path = vim/.vim/pack/plugins/opt/vim-surround
	url = git@github.com:tpope/vim-surround
