[submodule "fzf"]
	path = nvim/.config/nvim/pack/user/opt/fzf
	url = https://github.com/junegunn/fzf
[submodule "fzf.vim"]
	path = nvim/.config/nvim/pack/user/opt/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "nvim-lspconfig"]
	path = nvim/.config/nvim/pack/user/opt/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "nvim-treesitter"]
	path = nvim/.config/nvim/pack/user/opt/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "vim-fugitive"]
	path = nvim/.config/nvim/pack/user/opt/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "copilot.lua"]
	path = nvim/.config/nvim/pack/user/opt/copilot.lua
	url = https://github.com/zbirenbaum/copilot.lua
