#define darkBlack #101010
#define lightBlack #424242
#define darkRed #b71c1c
#define lightRed #f44336
#define darkGreen #1b5e20
#define lightGreen #4caf50
#define darkYellow #f57f17
#define lightYellow #ffeb3b
#define darkBlue #1a237e
#define lightBlue #3f51b5
#define darkMagentan #880e4f
#define lightMagentan #e91e63
#define darkCyan #004d40
#define lightCyan #009688
#define darkWhite #9e9e9e
#define lightWhite #e0e0e0

*color0: darkBlack
*color1: darkRed
*color2: darkGreen
*color3: darkYellow
*color4: darkBlue
*color5: darkMagentan
*color6: darkCyan
*color7: darkWhite
*color8: lightBlack
*color9: lightRed
*color10: lightGreen
*color11: lightYellow
*color12: lightBlue
*color13: lightMagentan
*color14: lightCyan
*color15: lightWhite

*foreground: lightWhite
*background: darkBlack
*cursorColor: lightYellow

/* *font: xft:Hack:size=11 */
*font: xft:Terminus:pixelsize=16
URxvt*scrollBar: false
