!Black
*color0: #000000
!Maroon
*color1: #800000
!Green
*color2: #008000
!Olive
*color3: #808000
!Navy
*color4: #000080
!Purple
*color5: #800080
!Teal
*color6: #008080
!Silver
*color7: #c0c0c0
!Grey
*color8: #808080
!Red
*color9: #ff0000
!Lime
*color10: #00ff00
!Yellow
*color11: #ffff00
!Blue
*color12: #0000ff
!Fuchsia
*color13: #ff00ff
!Aqua
*color14: #00ffff
!White
*color15: #ffffff

*foreground: #000000
*background: #ffffff

*cursorColor: #808080
*font: xft:Hack:size=11
URxvt*scrollBar: false
