# no bells
set bell-style none

# when completing, don't be case sensative
set completion-ignore-case on

# treat underscors as hyphens
set completion-map-case on

# dont make me confirm completion when many items
set completion-query-items -1

# dont print control charaters like ^C
set echo-control-characters off

# try to keep cursor column when jumping in history
set history-preserve-point on

# add trailing slash for dirs and symlinked dirs
set mark-directories on
set mark-symlinked-directories on

# show the common prefix before going through the completion list items
set menu-complete-display-prefix on

# show me multiple completions on first tab
set show-all-if-ambiguous on

$if Bash
		# cycle through completion with tab
		Tab: menu-complete
$endif
